/*Cookie Consent Begin*/
#cookieConsent {
    background-color: rgba(46, 45, 45, 0.8);
    min-height: 26px;
    font-size: 14px;
    color: #ffffff;
    line-height: 26px;
    padding: 8px 0 8px 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
}
#closeCookieConsent {
    float: right;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    font-weight: bold;
}
#closeCookieConsent:hover {
    color: #FFF;
    vertical-align: top;
    ;
}
#cookieConsent a.cookieConsentOK {
    float: right;
    margin: 0 60px 0 30px;
    
}
/*Cookie Consent End*/ 