<section class="py-5">
	<div class="container my-5">
		<div class="row">
			<div class="col-sm-6 col-lg-4 mb-3">
				<div class="px-2 px-mc-0">
					<h5 class="text-white">Contact</h5>
					<p class="text-white">For questions regarding the 2019 Tyler SIS & SISFin User Group Meeting, please contact:<br><a href="mailto:debbie.heintz@tylertech.com" class="mdc-text-light-blue-500">debbie.heintz@tylertech.com</a><br>or call 888.445.8503 ext. 217.</p>
				</div>
			</div>			
			<div class="col-sm-6 col-lg-3 ml-md-auto text-left text-sm-right">
				<a href="https://www.tylertech.com" target="_blank" class="tyler-logo"></a>
			</div>
		</div>
	</div>
</section>