<section class="py-2">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<nav class="navbar navbar-expand-lg">
				  <a class="header-logo" href="index.html"></a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				    <i class="fas fa-bars"></i>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarSupportedContent">
				    <ul class="navbar-nav ml-auto">
				      <li class="nav-item">
				        <a class="nav-link" href="schedule.html">Schedule &amp; Sessions</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="travel.html">Travel &amp; Lodging</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="certificate.html">Certificates</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="registration.html">Registration</a>
				      </li>      
				    </ul> 
				  </div>
				</nav>
			</div>
		</div>
	</div>
</section>